@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 176 47% 94%;
    --foreground: 215 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 215 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 30% 25%;
    --primary: 178 39% 45%;
    --primary-foreground: 178 50% 98%;
    --secondary: 178 35% 88%;
    --secondary-foreground: 178 39% 30%;
    --muted: 178 35% 92%;
    --muted-foreground: 178 20% 55%;
    --accent: 208 41% 35%;
    --accent-foreground: 208 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 178 30% 80%;
    --input: 0 0% 100%;
    --ring: 178 39% 45%;
    --radius: 0.5rem;
    --chart-1: 178 39% 45%;
    --chart-2: 208 41% 35%;
    --chart-3: 178 35% 65%;
    --chart-4: 208 30% 55%;
    --chart-5: 178 30% 75%;
  }
  .dark {
    --background: 220 20% 7%;
    --foreground: 176 47% 94%;
    --card: 220 20% 10%;
    --card-foreground: 176 47% 94%;
    --popover: 220 20% 7%;
    --popover-foreground: 176 47% 94%;
    --primary: 178 39% 45%;
    --primary-foreground: 178 50% 98%;
    --secondary: 220 20% 15%;
    --secondary-foreground: 178 50% 98%;
    --muted: 220 20% 15%;
    --muted-foreground: 178 20% 65%;
    --accent: 208 41% 65%;
    --accent-foreground: 208 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 15%;
    --input: 220 20% 15%;
    --ring: 178 39% 45%;
    --chart-1: 178 39% 45%;
    --chart-2: 208 41% 45%;
    --chart-3: 178 35% 65%;
    --chart-4: 208 30% 55%;
    --chart-5: 178 30% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .badge-attention {
    @apply bg-accent text-accent-foreground hover:bg-accent/80 border-transparent;
  }
}
